[Desktop Entry]
Name=Bootdev
Comment=Play Boot.dev
Icon=bootdev.png
Exec=env WLR_NO_HARDWARE_CURSORS=1 chromium --app=https://boot.dev --ozone-platform=wayland --enable-features=UseOzonePlatform,VaapiVideoDecoder --wayland-app-id=bootdotdev
Terminal=false
Type=Application
Categories=Network;Development;
StartupWMClass=bootdotdev
